<mat-nav-list>
    <mat-divider></mat-divider>
    <h2 matSubheader>Administración</h2>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/users">
        <mat-icon>account_circle</mat-icon>
        Gestion de usuarios
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/cycles">
        <mat-icon>calendar_today</mat-icon>
        Gestion de ciclos
    </a>
    
</mat-nav-list>
