.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.btn-options {
    width: 100%;
    height: 100%;
}
.hide-element {
    visibility: hidden;
}
.btn-student {
    background-image: url("/assets/img/cycle/add_cycle.jpg");
    background-size: cover;
}
.btn-teacher {
    background-image: url("/assets/img/cycle/config_cycle.jpg");
    background-size: cover;
}
.btn-administrative {
    background-image: url("/assets/img/administrative.jpg");
    background-size: cover;
}

.subtitule {
    text-align: center;
    background-color: #e2ac4a;
    border-radius: 5px;
}

.hover-img {
    position: absolute;
    width: 100%;
    background: #673ab7ad;
    height: 100%;
    border-radius: 400px;
    opacity: 0;
    cursor: pointer;
}
.hover-text {
    width: 100%;
    font-size: 30px;
    padding-top: 5px;
}


mat-form-field:not(.not-w) {
  width: 100%;
}
.mat-form-field-infix{
  width: auto!important;
}