
<form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <h1 mat-dialog-title>Agregar Usuario</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                    <mat-label>Código del usuario</mat-label>
                    <input formControlName="code" matInput #userCode maxlength="20" placeholder="Código del usuario" required>
                    <mat-hint align="end">{{userCode.value?.length || 0}}/20</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                    <mat-label>Nombre del usuario</mat-label>
                    <input formControlName="name" matInput #userName maxlength="100" placeholder="Nombre del usuario" required>
                    <mat-hint align="end">{{userName.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="password" #usserPassword matInput maxlength="50" [type]="hide ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <!-- OPCIONALES -->
        <div class="row" *ngIf="data.type == 1">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="">No especificar</mat-option>
                        <mat-option value="Masculino">Masculino</mat-option>
                        <mat-option value="Femenino">Fememnino</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input formControlName="phone" matInput #userPhone maxlength="20" placeholder="Teléfono">
                    <mat-hint align="end">{{userPhone.value?.length || 0}}/20</mat-hint>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row" *ngIf="data.type == 1">
            <div class="col-md-8">
                <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                    <mat-label>Nombre de la madre</mat-label>
                    <input formControlName="mother" matInput #mother maxlength="50" placeholder="Nombre de la madre">
                    <mat-hint align="end">{{mother.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                    <mat-label>Teléfono de la madre</mat-label>
                    <input formControlName="motherPhone" matInput #input maxlength="20" placeholder="Teléfono de la madre">
                    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row" *ngIf="data.type == 1">
            <div class="col-md-8">
                <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                    <mat-label>Nombre del padre</mat-label>
                    <input formControlName="father" matInput #father maxlength="50" placeholder="Nombre del padre">
                    <mat-hint align="end">{{father.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                    <mat-label>Teléfono del padre</mat-label>
                    <input formControlName="fatherPhone" matInput #fatherPhone maxlength="20" placeholder="Teléfono del padre">
                    <mat-hint align="end">{{fatherPhone.value?.length || 0}}/20</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="success" type="submit" [disabled]="!userForm.valid">Guardar</button>
        <button mat-button mat-dialog-close color="secondary">Cerrar</button>
    </div>
</form>