@import '~@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-indigo, 900);
$my-success: mat-palette($mat-green, 900);
$my-accent: mat-palette($mat-pink, A200, A100, A400);

$my-theme: mat-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat-core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat-button-theme($my-theme);

// Include the theme mixins for other components you use here.