/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';    

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-success {
    background-color: #00a208;
    color: #fff;
}
.mat-danger {
    background-color: red;
    color: #fff;
}
.mat-warning {
    background-color: #e2ac4a;
    color: #000;
}
.mat-secondary {
    background-color: #bfbfbf;
    color: #000;
}
.mat-dark {
    background-color: #545454;
    color: #fff;
}

.cdk-global-overlay-wrapper .cdk-overlay-pane {
    max-width: auto;
    width: 80%;
}